@import "../../../scss/main";

i {
  color: $warm-red;
  font-size: 11px;
}

hr {
  height: 80vh;
  border: 1px solid $main-bg;
}

.input-field {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  border: none;
  outline: none;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.form-wrapper {
  // @include blackBorder();
  background-color: $main-theme-color;
  form {    
    // @include mainBorder();
    // background-color: $main-theme-color;
    margin: 0;
    padding: 0;
    display: flex;
    section.description,
    section.conditions
    {    
      width: 50%;
      margin: 0 10px 10px 10px;
      div.section-header {
        padding: 10px;
        // border-top: none;
        // border-left: none;
        // border-right: none;     
        // @include thinBorder();   
        width: 100%;
        display: flex;
        justify-content: space-between;        
        align-items: center;
        
        p {
          margin: 0 0 0 10px;
          
          // @include mainBorder();
          // border-color: purple;
        }
        .isRequired {
          // @include thinBorder();
          padding-right: 25px;
          color: $warm-red;
          font-size: 10px;
        }
      }

    }
    section.description {      
      div.fields {
        // @include thinBorder();        
        .field {
          // @include thinBorder();   
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          
        }
      }
    }
    section.conditions {
      div.fields {
        // @include thinBorder();
        .field {
          display: flex;
          justify-content: center;
          align-items: center;
          select.select-field {
            border: none;
            outline: none;
            border-radius: 0;
            width: 100%;    
            margin: 10px 0;
            padding: 5px;        
          }
          .input-field {
            background-color: $main-theme-color;
            border-bottom: 2px solid $main-bg;
          }
        }
        .date-fields {
          // @include thinBorder();
          display: flex;
          justify-content: space-between;
          input {
            width: 150px;
            padding: 5px;
            border: none;
            outline: none;
          }
        }
        .radio-buttons {
          margin: 10px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .check-button {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 0;
        }
      }
    }
  }
}
