@import "./../scss/main";

*, ::before, ::after {
  margin: 0;
  padding: 0;
}

.container {
  // @include redBorder();
  font-family: 'Lato', sans-serif;  
  background-color: $main-bg;
}
.main-content {
  // @include redBorder();
  display: flex;
}

app-main-menu {
  width: 20%;
}

app-main-form {
  width: 80%;
}